

@page "/cafe"
@page  "/index/infochoice/cafe"
@inject Data.LocationInformation locationInfo

<h3>Cafe list </h3>

<div class="cafe">

    <table class="cafeTable">
        <thead>
            <tr>
                <th>Cafe type</th>
                <th>Name</th>
                <th>Address</th>
                <th>Average Price</th>
                <th>Rate</th>
            </tr>
        </thead>
        <tbody>

           @foreach(var cafe in locationInfo.CafeResult) {
            <tr>
                <td>@cafe.CafeType</td>
                <td>@cafe.CafeName</td>
                <td>@cafe.CafeAdress</td>
                <td>@cafe.AveragePrice</td>
                <td>@cafe.Rate</td>
            </tr>
            }
        </tbody>
    </table>
</div>
