@using Microsoft.AspNetCore.Components;
@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Threading.Tasks;
@using TravelPlanner.Data;

<h3>Weather forcast for @_locationInformation.City</h3>

<button @onclick="Collapse">Weather Forecast</button>

<div class="weather">
    @if (_collapsed)
    {
        <h4>@_locationInformation.WeatherResults[0].HeadlineText</h4>
    }
    else
    {

        <h4>@_locationInformation.WeatherResults[0].HeadlineText</h4>
        <table class="weatherTable">
            <thead>
                <tr>                   
                    <th>Date</th>
                    <th>Day summary</th>
                    <th>Temperature Day</th>
                    <th>Night summary</th>
                    <th>Temperature Night</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var weatherResult in _locationInformation.WeatherResults)
                {
                    <tr>
                        <td>@weatherResult.Date</td>
                        <td>@weatherResult.DaySummary</td>
                        <td>@weatherResult.TempDay</td>
                        <td>@weatherResult.NightSummary</td>
                        <td>@weatherResult.TempNight</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

@code {

    private bool _collapsed = true;

    private LocationInformation _locationInformation;
    [Parameter]
    public LocationInformation LocationInformation
    {
        get { return _locationInformation; }
        set { _locationInformation = value; }
    }

    public void Collapse()
    {
        _collapsed = !_collapsed;
    }

}